html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/*_____________*/


h2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 39px;
    line-height: 135%;
    text-transform: capitalize;
    color: #000000;
    margin-right: 50px;
}


h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

h4 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #1D92FF;
}

h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

h6 {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #101010;
}

.blue_text {
    font-size: 16px;
    /*line-height: 160%;*/
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1D92FF;
}

.eighteen_px {
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}

.sixteen_px {
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    margin-left: 15px;
}

.bold {
    font-weight: 600;
}

.button.white {
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid rgba(202, 197, 197, 0.14);
    color: #1D92FF;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 28px;
}

.button.blue {
    border-radius: 3px;
    border: 1px solid rgba(202, 197, 197, 0.14);
    background: transparent;
    color: #eeeeee;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 28px;
}

/*________________*/
header, .blue_block {
    background: #002547;
    /*background-position: center;*/
    /*background-size: cover;*/
}

header .navbar .navbar-nav a.nav-link {
    font-size: 16px;
    line-height: 130%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.6);
    padding: 30px 20px;
}

header .navbar-nav {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

header a.navbar {
    padding: 0 0 0 165px;
}

.img_six_columns {
    position: relative;
    width: auto;
    height: auto;

}

.gray_square {
    position: absolute;
    width: auto;
    height: auto;
}

.ResponsiveLayout {
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 30px;

}

/*-------------------------------------*/
img {
    width: 100%;
}

.blue_block {
    position: relative;
}

.blue_block h1 {
    font-size: 60px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;
}

span.colortext {
    color: #1D92FF;
    font-weight: bold;
}

span.colortext.emphatic {
    text-decoration: underline
}

.blue_block .text {
    padding: 135px 45px 147px 227px;
}

.blue_block .col-6.left {
    padding: 50px 40px 40px 20px;

}

.text_arrow {
    position: relative;
}

.blue_block .button.blue {
    margin-left: 15px;
}

.blue_block .bold {
    text-decoration: underline;
}

.blue_block .inclined_square {
    position: absolute;
    width: 1034.12px;
    height: 414.54px;
    left: -400px;
    top: -136px;
    /*background: linear-gradient(88.16deg, rgba(81, 7, 33, 0.6) 1.5%, rgba(71, 0, 8, 0.6) 82.37%);*/
    background: linear-gradient(88.16deg, rgba(7, 45, 81, 0.6) 1.5%, rgba(0, 37, 71, 0.6) 82.37%);
    transform: rotate(44.88deg);
}

.col-6 {
    /*position: relative;*/
}

.arrow {
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    top: 5px;

}

.internet_services, .better_than_one, .be_good, .title_six_columns, .keep_calm, .bottom_blue_block {
    background: #E5E5E5;;
}

.internet_services .container {
    padding: 130px;
    margin-left: 0;
    margin-right: 0;
}

.internet_services .internet_services_row li {
    list-style-type: none;
    margin-left: 45px;
}

/*Section Better Than One*/
.better_than_one .sixteen_px {
    color: rgba(1, 7, 13, 0.7);
}

.better_than_one .images img {
    position: absolute;
}

.better_than_one .images {
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*padding-left:  25px*/
}

ul {
    list-style: none;
    padding-left: 0;
}

.better_than_one li, .keep_calm li {
    display: flex;
    align-items: start;
    position: relative;
    margin-bottom: 15px;
}

.better_than_one li img, .keep_calm li img {
    position: absolute;
    top: 5px;
    width: auto;
}

li .text {
    padding: 0 48px;
}

li .text p {
    color: #01070D;
    opacity: 0.5;
}

/*Section Be Good.*/
.be_good {
    padding: 150px 30px;
}

.be_good .sixteen_px {
    color: rgba(1, 7, 13, 0.7);
}

.be_good .images img {
    position: absolute;
}

.be_good .images {
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 25px
}

.be_good li {
    display: flex;
    align-items: start;
    position: relative;
    margin-bottom: 15px;
    background: #FFFFFF;
    border-radius: 10px;
}

.be_good li img {
    position: absolute;
    top: 5px;
    right: 0;
    width: auto;
}

.be_good li .text {
    padding: 0 20px;
}

li .text p {
    color: #01070D;
    opacity: 0.5;
}

.be_good .colortext {
    font-weight: normal;
    text-decoration: underline;
}

.be_good h4 {
    margin-bottom: 0;
    margin-top: 5px;
}

.be_good .text p {
    margin: 0;
    padding: 10px 0;
}

.be_good .vector {
    top: 17px;
    right: 15px;
}

/*-------------------*/
.title_six_columns {
    text-align: center;

}

.title_six_columns .row {
    padding: 30px;
}

.title_six_columns .text {
    padding: 50px 350px;
}

.title_six_columns p.sixteen_px {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 0;
    text-transform: none;
    padding: 0 35px;
}

.title_six_columns .container {
    border: 1px dashed #77BEFF;
    border-bottom: none;

}

/*---------Загальні стилі для секцій
-----------------.title_six_columns
--------------------------.keep_calm*/
.title_six_columns .text {
    padding: 50px 350px;
}

.title_six_columns .text h2, .keep_calm .text h2 {
    margin-right: 0;
}

.title_six_columns .six_columns h4, .keep_calm.six_columns h4 {
    color: #000000;
    font-weight: 500;
}

.six_columns .img_six_columns {
    margin-bottom: 100px;
}

/*------------------------------------------------------------*/
.keep_calm {
    font-family: Poppins, sans-serif;
    text-align: center;
}

.keep_calm p.sixteen_px {
    color: rgba(1, 7, 13, 0.7);
    margin-left: 0;
    text-transform: none;
}

.keep_calm .col-4:nth-child(odd) {
    /*background: #FFFFFF;*/
    /*opacity: 0.1;*/
    border: 1px solid #1D92FF;
    box-sizing: border-box;
    border-radius: 10px;
    top: 38px;
    left: 10px;
}
.keep_calm .col-4.white_right{
    left: -10px;
}
.keep_calm .blue {
    background: linear-gradient(180deg, #1D92FF 0%, #002648 0.01%, #002547 100%);
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.keep_calm h4 {
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px 0;
    font-weight: bold;
}

.keep_calm .blue p {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px
}

.keep_calm .blue h2 {
    color: #FFFFFF;
    margin-right: 0;
}

.keep_calm .white_left h2, .keep_calm .white_right h2 {
    margin-right: 0;
}

.keep_calm .button {
    margin-bottom: 15px;
}

.keep_calm .blue li p {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-align: start;
    margin-left: 75px;
}

.keep_calm li img {
    left: 35px;
}

.keep_calm .button.white_blue {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 28px;
    background: #1D92FF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    position: relative;
    left: 30px;
    color: #ffffff;
}

.keep_calm .button.blue {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 18px;
    padding: 10px 30px;

}

.keep_calm .button span {
    margin-left: 15px;
}

.keep_calm .button.white span {
    text-transform: capitalize;
    padding: 12px 70px;
}

.keep_calm .white_left p.sixteen_px, .keep_calm .white_right p.sixteen_px {
    /*color: rgba(1, 7, 13, 0.7);*/
}

.keep_calm .white_left h4, .keep_calm .white_right h4 {
    text-transform: uppercase;
    color: #01070D;
    margin: 10px 0;
}

.keep_calm .white_left .button.white_blue, .keep_calm .white_right .button.white_blue {
    background: #FFFFFF;
    box-shadow: 4px 2px 38px rgba(0, 0, 0, 0.02);
    border-radius: 18px;
    color: #01070D;
}

.keep_calm .white_left .button.blue, .keep_calm .white_right .button.blue {
    background: #FAFAFA;
    border: 0.5px solid rgba(1, 7, 13, 0.05);
    box-sizing: border-box;
    border-radius: 18px;
    color: rgba(1, 7, 13, 0.4);
}

.keep_calm .white_left li p, .keep_calm .white_right li p {
    margin-left: 75px;
    text-align: start;
}

.keep_calm .white_left .button, .keep_calm .white_right .button {

}

.bottom_blue_block .container {
    padding: 150px 80px;

}

.bottom_blue_block .row {
    background: #002648;
    border-radius: 5px;
    padding: 55px 10px;
}

.bottom_blue_block .text h3 {
    color: #FFFFFF;
    font-weight: normal;
    margin-right: 0;
}


.bottom_blue_block .top{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 50px;
    color: #FFFFFF;
    padding-right: 145px;
    position: relative;
}
.bottom_blue_block input{
    color: #FFFFFF;
    background: transparent;
    border: none;
    padding: 24px 40px;
}
.bottom_blue_block .right {
    position: absolute;
    right: 16px;
    top: 10px;
    border: none;
    border-radius: 50px;
}
.bottom_blue_block .right img{
    padding: 15px 30px;
}